.menu-btn
{ 
    position: relative;
    
   
    a
    {
        padding: 1rem;
    
    }
    &.close
    {
        z-index: 3;
       
       a
       {
      
        transform: rotate(90deg);
       
      
       }

    }
    
}

//menu overlay

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

 .show
 {
     visibility: visible;
 }
 &-branding,&-nav
 {
display: flex;
width: 50%;
float: left;
height: 100vh;
overflow: hidden;
flex-flow: column wrap;
justify-content: center;
align-items: center;

 }
 &-nav
 {
     margin:0;
     padding: 0;
     background: rgba(darken($primary-color, 5), 0.9);
     z-index: -1;
     list-style: none;
     transform: translate3d(0,-100%,0);
     @include ease-in-out;
     & li:first-child a{
        color: $secondary-color;
     }
   
 }

 .show{

     transform:translate3d(0,0,0);
 }

 &-branding
 {
    background: rgba($primary-color, 0.9);
     @include ease-in-out;
     
     transform: translate3d(0,100%,0);
     .show{

        transform:translate3d(0,0,0);
    }
    .portrait
    {
        width: 240px;
        height: 250px;
        background: url('sanii.PNG');
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }
 }
 .nav-items
 {
     transform: translate3d(600px,0,0);
     @include ease-in-out;
     &.show{

        transform:translate3d(0,0,0);
    }
  

  
   
 }
 .nav-link
 {
display: inline-block;
padding: 1rem 0;
@include ease-in-out;
font-weight: 400;
color:set-text-color($primary-color);
text-transform: uppercase;
position: relative;
text-decoration: none;
font-size: 25px;
&:hover{
    color: $secondary-color;
}


 }

}
//delay of nav links/items in for loop
@for $x from 1 through 4
{
    .nav-items:nth-child(#{$x})
    {
    transition-delay: $x*0.1s;
    }
}

